canvas {
  /* cursor: grab; */
  /* background-color: white; */
}

body {
  background-color: #030303;
  color: #c0c4d5;
  font-family: sans-serif;
}

.image-link-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-link {
  /* important */
  position: relative;
  width: 30%;
  height: 400px;
  /* important */
  background-color: #1c1c1c;

  cursor: none;
}
.image-link:hover {
}

svg text {
  text-anchor: middle;
  dominant-baseline: middle;
}
